<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio de Sesión</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">#Enlace al archivo CSS para estilos de la página de inicio de sesión
</head>
<body>
    <div class="container">#Contenedor principal de la página de inicio de sesión
        <h1>Iniciar Sesión</h1>

        <form action="{{ url_for('login') }}" method="POST">

            <label for="correo">Correo Electrónico:</label>#Etiqueta para el campo de correo electrónico
            <input type="email" id="correo" name="correo" required>#Campo de entrada para el correo electrónico

            <label for="contraseña">Contraseña:</label>#Etiqueta para el campo de contraseña
            <input type="password" id="contraseña" name="contraseña" required>#Campo de entrada para la contraseña

            <button type="submit">Ingresar</button>#Botón para enviar el formulario de inicio de sesión
        </form>

        <p>¿No tienes cuenta? <a href="{{ url_for('register') }}">Regístrate aquí</a></p>#Enlace a la página de registro de usuarios
    </div>

</body>
</html>