<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Registro de Usuario</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='registro.css') }}">
</head>
<body>
    <div class="container">
        <h1>Registro de Usuario</h1>
        <form action="{{ url_for('register') }}" method="POST">
            <label for="primernombre">Primer Nombre:</label>
            <input type="text" id="primernombre" name="primernombre" required>

            <label for="segundonombre">Segundo Nombre:</label>
            <input type="text" id="segundonombre" name="segundonombre">

            <label for="primerapellido">Primer apellido:</label>
            <input type="text" id="primerapellido" name="primerapellido" required>

            <label for="segundopellido">Segundo apellido:</label>
            <input type="text" id="segundopellido" name="segundopellido">

            <label for="correo">Correo electrónico:</label>
            <input type="email" id="correo" name="correo" required>

            <label for="contrasena">Contraseña:</label>
            <input type="password" id="contrasena" name="contraseña" required>

            <label for="confirma_contraseña">Confirmar contraseña:</label>
            <input type="password" id="confirma_contraseña" name="confirma_contraseña" required>

            <label for="fecha_nacimiento">Fecha de Nacimiento:</label>
            <input type="date" id="fecha_nacimiento" name="fecha_nacimiento" required>

            <label for="rol">Rol:</label>
            <select id="rol" name="rol" required>
                <option value="">-- Selecciona un rol --</option>
                <option value="estudiante">Estudiante</option>
                <option value="profesor">Profesor</option>
                <option value="administrador">Administrador</option>
            </select>

            <button type="submit">Registrar</button>
        </form>
        <p>¿Ya tienes cuenta? <a href="login.html">Inicia sesión aquí</a></p>
    </div>
</body>
</html>
